
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import 'tailwindcss';

:root {
    --bg-main:        #ffead7;
    --bg-panel:       #f3d6bd;
    --bg-panel-soft:  #d6ab85;

    --border-soft:    rgba(255, 206, 158, 0.15);
    --border-strong:  rgba(255, 206, 158, 0.25);

    --text-main:      #c49867;
    --text-muted:     #cdb08c;
    --text-chat:      #1a120d;

    --accent-primary: #e9c46a;
    --accent-hover:   #f4a261;

    --info:           #8ecae6;
    --danger:         #e76f51;
    --success:        #a8dadc;

    --scrollbar:      #e9c46a;
}

.msg {
    max-width: 85%;
    margin-bottom: 10px;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 0.875rem;
  
    display: flex;
    flex-direction: column;
    gap: 2px;
  
    animation: fadeIn 0.15s ease;
  }
  
  .msg .username {
    font-size: 0.7rem;
    opacity: 0.7;
  }
  
  .msg.user {
    align-self: flex-end;
    background: var(--accent-primary);
    color: var(--text-chat);
    border-bottom-right-radius: 2px;
  }
  
  .msg.other {
    align-self: flex-start;
    background: var(--bg-panel-soft);
    color: var(--text-chat);
    border-bottom-left-radius: 2px;
  }
  