body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#chat {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
  }
  
  #chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
  }
  